#profilePicture{
	width:300px;
}

.upcoming-meeting {
	padding-top: 5px;
	padding-bottom: 5px;
}

.meetup-info {
	text-align: left;
}

.member-name {
	font-weight: bold;
}

.meetup-link {
	vertical-align: center;
}
