/* Import Font for navbar */
@import url(http://fonts.googleapis.com/css?family=Happy+Monkey);
@import url(http://fonts.googleapis.com/css?family=Coming+Soon);

/*
@media (max-width: 980px){
    padding-top: 50px;
}
*/

body { 
    font-family: 'Helvetica'; 
    background-color: #ffffff;
}
a { text-decoration: none !important }

.main-body { background-color: #ECF0F1; margin-top: 20px; padding:10pt; }

/*.large-screen { margin-top: 50px; }*/

/* Modify Font for navbar */
.nav { font-family: 'Happy Monkey', cursive; font-size: 16pt; }

/* Modify logo size */
.navbar .brand > img { max-height: 40px; }

/* Modify padding. Overwrite bootstrap.min.css */
.navbar .brand { padding: 1px 0px 0px; font-size: 20px;	line-height: 1; }

.user-name { font-family: 'Coming Soon'; font-style: italic;}
.member-name { font-family: 'Coming Soon'; font-style: italic; font-weight: bold; }

.img-thumb { max-height:100px; max-width:140px; }

.thumb {
    width: 100px;
}

.grid-view {
    background-color: "black";
}

.grid-photo {
    width : 200px;
    height: 200px;
}

/*
#meetupGrid {
height:300px;
}
*/

.content-body { }

.content-body > img { max-width:100%; }