/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 */

.main-body { 
	/*background-color: #ECF0F1;*/
	margin-top: 20px; padding:10pt; 
}
.username { 
	font-family: 'Coming Soon'; 
	font-style: italic;
	font-weight: bold;
}

/*.membername { 
	font-family: 'Coming Soon'; 
	font-style: italic; 
	font-weight: bold; 
}*/

.content-row { 
	margin-bottom: 20px; 
}

.content-header { 
	margin-bottom: 25px; 
}

.content-body {
	margin-bottom: 20px; 
}

.content-footer {
	padding-bottom: 20px; 
}

.profile-picture {
	
}
