// Place all the styles related to the users controller here.

.list-item {
  
}

.list-item img {
  height: 100px;
  overflow: hidden;
}

.btn-div {
  height: 100%;
}

.btn-div .btn {
  margin-top: 30px;
  margin-right: 10px;
}

.btn-group-div {
  margin-top: 30px;
}

.clearfix {
    float: none;
    clear: both;
}

.content-row { 
  margin-bottom: 20px; 
}

.modal {
  width: 300px;
  margin-left: -100px;
}
