// Place all the styles related to the user_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#loginBody {
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

#loginForm {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 10px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
  font-size: 16px;
  padding: 7px 9px;
}
