// Place all the styles related to the users controller here.

.list_carousel {
  position: relative;
}

.list_carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.list_carousel li {
  color: #666;
  text-align: center;
  background-color: #f0f0f0;
  border: 5px solid #ccc;
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 6px;
  display: block;
  float: left;
}

.list_carousel li div img {
  height: 90%;
  width: auto;
  top:0;
  bottom:0;
  margin:auto;
}

.list_carousel li div button {
  margin-top: 5px;
}

a.prev, a.next {
  background: url(img/miscellaneous_sprite.png) no-repeat transparent;
  width: 45px;
  height: 50px;
  display: block;
  position: absolute;
  top: 85px;
}

a.prev {      
  left: -22px;
  background-position: 0 0; 
}

a.prev:hover {    
  background-position: 0 -50px;
}

a.next {
  right: -22px;
  background-position: -50px 0;
}

a.next:hover {    
  background-position: -50px -50px;
}

a.prev span, a.next span {
    display: none;
}

.clearfix {
    float: none;
    clear: both;
}

.content-row { 
  margin-bottom: 20px; 
}

.content-header { 
  font-family: 'Happy Monkey', 
  cursive; font-size: 16pt; 
  font-weight:bold; 
}

.content-body { }

.content-body > img { max-width:100%; }