<div class="navbar navbar-inverse navbar-static-top hidden-phone">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">
                <img class="logo" alt="DogPack logo" src="/img/logo.png">
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><%= link_to 'Home', '/'%></li>
                    <li><%= link_to 'Search', '/search'%></li>
                    <li><%= link_to 'Friends', '/friendships'%></li>
                </ul>
                <ul class="nav pull-right">
                    <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                </ul>
            </div>
        </div>
    </div>
</div>